@import "_color";
.theme-bg {
  background-color: $theme-color !important;
  color: #fff !important;
  .van-nav-bar__title {
    color: inherit;
  }
  .van-icon {
    color: inherit !important;
  }
  .van-nav-bar__text {
    color: inherit !important;
  }
}
.van-tabbar-item--active {
  color: $theme-color !important;
}

html,
body {
  height: 100%;
}
.box {
  height: 100%;
}
.van-nav-bar--fixed ~ .content {
  padding-top: 46px;
}
.van-tabbar--fixed ~ .content {
  padding-bottom: 50px;
}
.content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: $bg-color;
  overflow-y: auto;
}
@font-face {
  font-family: myFirstFont;
  src: url("../assets/fonts/ds-digital-webfont.ttf"), url("../assets/fonts/ds-digital-webfont.eot"); /* IE9+ */
}

// 综合展示
.link-cont {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  .van-grid {
    .van-icon {
      color: $theme-color;
    }
  }
}
.base-cont {
  padding: 10px;
  .base-text {
    margin: 0;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .base-num {
    color: $theme-color;
    font-family: myFirstFont;
    font-size: 25px;
  }
  .van-grid-item__content {
    padding: 8px;
  }
}
.chart-cont {
}

// 实时疫情
.nCoV {
  position: absolute;
  // background: linear-gradient(to bottom, $theme-color 5%, #fff 80%);
  background: #fff;
  top: 46px;
  right: 0;
  bottom: 50px;
  left: 0;
}
.ncov-top {
  height: 40.8vw;
  background-size: cover;
  position: relative;
  .title {
    text-align: center;
    margin: 0;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40px;
    img{
      width: 100%;
    }
  }
  &::before {
    content: "";
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 48.533vw;
    background: url(../assets/img/head_bg_new.png) top;
    background-size: cover;
  }
}
.data-cont {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  .data {
    strong {
      color: inherit;
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      text-align: center;
    }
    p {
      display: block;
      text-align: center;
      margin: 0;
      font-size: 13px;
      color: #777;
    }
    span {
      display: block;
      text-align: center;
      font-size: 10px;
      color: #b8b8b8;
      i {
        font-style: normal;
      }
    }
    &.orange {
      color: #ff6034;
      i {
        color: #ff6034;
      }
    }
    &.yellow {
      color: #f9c054;
      i {
        color: #f9c054;
      }
    }
    &.cyan {
      color: #49acd4;
      i {
        color: #49acd4;
      }
    }
    &.red {
      color: #98041e;
      i {
        color: #98041e;
      }
    }
    &.blue {
      color: #6489b1;
      i {
        color: #6489b1;
      }
    }
    &.green {
      color: #0cdc9b;
      i {
        color: #0cdc9b;
      }
    }
  }
  .data-from {
    margin: 0;
    background: rgba($theme-color, 0.2);
    border-top: 1px solid $theme-color;
    font-size: 12px;
    color: $theme-color;
    padding: 3px 10px;
  }
}

// 消息
.msg-item {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  .msg-img {
    float: left;
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #eee;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .msg-text {
    float: left;
    padding-left: 10px;
    width: calc(100% - 48px);
    box-sizing: border-box;
    .msg-title {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      color: #444;
    }
    .msg-desc {
      margin: 0;
      color: #777;
      font-size: 12px;
      width: 100%;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}

// 工单详情
.btn-cont {
  margin: 10px 10px 0;
}


// 登录页
.login{
  background-image: url(../assets/img/login-bg.png);
  background-size: cover;
  background-position: center center;
  .logo-cont{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    img{
      width: 160px;
    }
  }
  .form-cont{
    padding: 0 40px;
  }
}
.input-group{
  position: relative;
  margin-bottom: 30px;
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #b8b8b8;
    padding: 8px 15px;
    padding-left: 35px;
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: transparent;
  }
  .input-icon{
    position: absolute;
    color: #2f83ff;
    top: 10px;
    left: 10px;
  }
}